<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>打包项目路径</key>
	<string>/Users/ug/自动打包/pack</string>
	<key>日志项目路径</key>
	<string> /Users/ug/自动打包/log </string>
	<key>导出目录</key>
	<string>/Library/WebServer/Documents</string>
	<key>后台用户名</key>
	<string>Andrew</string>
	<key>后台密码</key>
	<string>a0ed3a17</string>
	<key>私钥</key>
	<string>-----BEGIN PRIVATE KEY-----
MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKxE4oqxgDB7o/Sx
+hT2406kLe+nNk2DdllbVXaRPjj56mXqyBTLEc4rd0lS+bbD0G8544QXL+lMj3IO
vg0wsDSeuvdFkaBJynNt/Y0bgQ0N3nSJ3H6tahBGrgU8gGasoAs3FaTiwAn+9Usx
I6uYMycaP9hhmjgYRJyLlvVBJwiHAgMBAAECgYAKoUWJYWKTm02Gr+TKnmFwXNko
zJyhM9d9tBEV++hnA6TfHRmzjsROgIgf0iruiC64bk4HvJaMQtknJJm9np+AxcfF
QyDB4dcCVstNov6PkFJ0sNtVOs+PrIjHDvs1xY+6Xiwq7LY3yAZTcCAjC/Mm2zcZ
nKZB9iKsaGZInbpQoQJBANyrZnVxbDrEWLEFDbbhujPowxapY+Zce8VHJyi+hSKY
6H/LD+mJQFj02IwXftqNC6npHCcD+D9diWKlunMYu5MCQQDH2bEKfZNbL136pq6Z
R0vVBVQOrAJVT0I0ZV+9A6tNaiWiXgKPTEebfI6Yqr1SJYy6qPpIRM1ej000a3fU
M1+9AkEAoayylLlVInlYwdmCAsu/MOkIhkH0/4Ii7JcFCcUMphyBu597OQ9mJca+
IWXVeyp7sTEpfyxZZZOSZMQnpswoIQJBAKd37nmB/Wdd6/zMjGb5bbxWOLgKv/HI
9wt9H5r+Zh/7IQpMiQyXuTG8UKnx+a/Ks4D/dKv2q7nfj6yrmcCCRGkCQB8bThWs
NtGWaDRj5nDcosL2G+zrpLtaq1lxqTlMVQlwMzG2X5ESCWSU29g4qHyl8ADPkq78
QoFhw3gOuCeRNsM=
-----END PRIVATE KEY-----</string>
</dict>
</plist>
