<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ug.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F50F3366A8E976F212E2331DC0DB26BE559AA02F</string>
				<key>dateExpires</key>
				<string>2022/3/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X33J5AQVAV.com.UGGame.cp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X33J5AQVAV</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>X33J5AQVAV.com.UGGame.cp</string>
				</array>
			</dict>
			<key>name</key>
			<string>ug.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b2060bed-38f8-4d5e-b42d-b646cf0bfc57</string>
				<key>name</key>
				<string>UGAPPDIS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X33J5AQVAV</string>
				<key>name</key>
				<string>AFFISHAUL WORLDWIDE, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
